<div class="flex flex-no-wrap">
  <!-- Sidebar starts -->
  <!-- Remove class [ hidden ] and replace [ sm:flex ] with [ flex ] -->
  <div style="min-height: 716px" class="w-64 absolute sm:relative bg-cust-green-200 shadow md:h-full flex-col justify-between hidden sm:flex">
    <div class="px-4">
      <p class="text-white text-2xl mt-2">AgriSolutions</p>
      <ul class="mt-4">
        <li class="flex w-full justify-between cursor-pointer items-center mb-2">  
          <a class="text-white hover:underline  mb-2" routerLink="admin-home">Dashboard</a>
        </li>
        <li class="flex w-full justify-between cursor-pointer items-center mb-2">  
          <a class="text-white hover:underline  mb-2" routerLink="admin-users">Users</a>
        </li>
      </ul>
      
    </div>
    
  </div>
  <!--Icon for drop down-->
  <div [ngClass]="'w-64 z-40 absolute min-h-screen bg-cust-green-200 shadow md:h-full flex-col justify-between sm:hidden transition duration-150 ease-in-out ' + (isMenu ? 'transform translate-x-0' : 'transform -translate-x-full')">
    <div class="h-10 w-10 bg-gray-800 absolute right-0 mt-2 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer" (click)="isMenuBtn()">
     sfsd
    </div>
    <div [ngClass]="(isMenu ? 'block' : 'hidden') + ' h-10 w-10 bg-gray-800 absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer text-white'" (click)="isMenuBtn()">
      close
    </div>
    <div class="px-4">
      <p class="text-white text-2xl mt-2">AgriSolutions</p>
      <ul class="mt-4">
        <li class="flex w-full justify-between text-gray-300 hover:text-gray-500 cursor-pointer items-center mb-6">
          <div class="flex items-center">
            <span class="ml-2">Dashboard</span>
          </div>
        </li>

      </ul>
      <div class="flex justify-center mt-48 mb-4 w-full">
        <div class="relative">
          <div class="text-gray-500 absolute ml-4 inset-0 m-auto w-4 h-4">
           
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <!--End of icon for dropdown-->
  
  <!-- Sidebar ends -->
  <!-- Remove class [ h-64 ] when adding a card block -->
  <div class="container mx-auto py-4 h-64 md:w-4/5 w-11/12 px-6">
    <!-- Remove class [ border-dashed border-2 border-gray-300 ] to remove dotted border -->
    <div class="w-full h-full">
      <!-- Place your content here -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
