<div class="border-y-4 mb-4 flex justify-between items-center py-1">
    <p>
        Information Board Posts
    </p>
    <p
    (click)="getAllFarmingSolution()"
    class="cursor-pointer"
    [ngClass]="isAllFarmingSolution ? 'line' : 'noLine' "  
  >
    View All
</p>
  <p
  (click)="getAllFarmingSolutionOfUser()"
  class="cursor-pointer"
  [ngClass]="!isAllFarmingSolution ? 'line' : 'noLine' "
  >
  View My Own
</p>

</div>

<div  *ngIf="isLoading" class="flex justify-center">
    <div class="loader absolute mt-20"></div>
  </div>


<div *ngIf="isAllFarmingSolution">
    <p class="text-center my-4 text-2xl">View all post</p>
    <div *ngFor="let fS of farmingSolution">
        <div class="card shadow-0 border mb-4">
            <div class="card-body py-0 px-4 mb-6">
                <div class="flex">
                    <h4 class="mt-[20px]"><strong><strong>{{fS.authour}}</strong></strong></h4>
                    <h4 class="font-bold text-4xl mx-1">.</h4> 
                    <h4 class="mt-[20px]">{{fS.date}}</h4>
                </div>
        
                <p class="mb-2"><strong>{{fS.title}}</strong></p>
                <p class="mb-2">{{fS.description}}</p>
            </div>
        
        
        </div>
    </div>
</div>

<div *ngIf="!isAllFarmingSolution">
    <p class="text-center my-4 text-2xl">My own posts</p>
    <div *ngFor="let fS of farmingSolution">
        <div class="card shadow-0 border mb-4">
            <div class="card-body py-0 px-4 mb-6">
                <div class="flex">
                    <h4 class="mt-[20px]"><strong>{{fS.authour}}</strong></h4>
                    <h4 class="font-bold text-4xl mx-1">.</h4> 
                    <h4 class="mt-[20px]">{{fS.date}}</h4>
                </div>
        
                <p class="mb-2"><strong>{{fS.title}}</strong></p>
                <p class="mb-2">{{fS.description}}</p>
        
        
            <div>

            

                <button
                (click)="delete(fS.id)"
            class="px-7 py-2 bg-red-500 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-red-600 hover:shadow-lg focus:bg-red-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-600 active:shadow-lg transition duration-150 ease-in-out"
            >DELETE</button>
            <label
            (click)="edit(fS.id)"
            for="my-modal-3" 
            class="cursor-pointer ml-4 px-7 py-2.5 bg-cust-green text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-cust-green-200 hover:shadow-lg focus:bg-cust-green-200 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-cust-green-200 active:shadow-lg transition duration-150 ease-in-out"
            bg-gray-50 
        >
            Edit
            </label>
            
        
        </div>
        
            </div>
        
        
        </div>
    </div>
</div>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="my-modal-3" class="modal-toggle">
<div class="modal">
  <div class="modal-box relative">
    <label (click)="isAddToFalse()" for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <div *ngIf="isAddOpen">
        <app-edit-farming-solution [farmId]="farmId" (isAddToFalse)="myIsAdd($event)" ></app-edit-farming-solution>
    </div>
  </div>
</div>




