<section class="max-h-[90%]">
    <p class="px-8 mt-2 flex"><a routerLink="../chatlist">
        <img class="mr-2"  width="24" height="24" src="../../../assets/icons/backbtn.svg" alt="immm" srcset="">
    </a>Chatting with {{chattingTo}}</p>
    <div class="pt-6 flex flex-col px-8" *ngFor="let msg of messages">
        <div *ngIf="getUser(msg.recipient) == user_id" class="bg-cust-green self-start p-1 rounded">
            {{msg.message}}
        </div>
       <div  *ngIf="getUser(msg.recipient) !== user_id" class="bg-opacity-green self-end p-1 rounded">
           {{msg.message}}
       </div>
    </div>

<div  *ngIf="isLoading" class="flex justify-center">
	<div class="loader absolute mt-20"></div>
  </div>
    <form class="fixed bottom-0 left-0 right-0 mt-3 px-8 py-2 flex items-center"[formGroup]="chatForm" (ngSubmit)="onSubmit()">
        <textarea
            class="
                form-control
                block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                m-0
                bg-white bg-clip-padding border-2 border-solid border-gray-300 rounded transition ease-in-out m-0 focus:bg-white focus:border-cust-green focus:outline-none
            "
            id="exampleFormControlTextarea1"
            rows="2"
            placeholder="Add your farming knowledge"
            formControlName="message"
        ></textarea>
        <button
            type="submit"
            [disabled]="!chatForm.valid"
            [ngClass]="!chatForm.valid ? 'bg-opacity-green' : 'bg-cust-green-200' "
            class="ml-2 mt-2 px-7 py-2 bg-opacity-green text-white font-medium text-sm uppercase rounded shadow-md"
        >
           send
        </button>
    </form>
</section>