<div class="min-h-full">
    <div class="w-full md:w-8/12 lg:w-5/12 px-4 pb-7 pt-2">
       <div class="flex justify-between my-5">
      <p class="text-xl">Weather Report</p>
      https://dev.to/dipteekhd/angular-behaviorsubject-p1
      <button
      type="submit"
      
      class=" px-7 py-2 bg-cust-green text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-cust-green-200 hover:shadow-lg focus:bg-cust-green-200 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-cust-green-200 active:shadow-lg transition duration-150 ease-in-out"
      bg-gray-50 
    >
      Add City 
    </button>
  
    </div>
      <div class="border-b py-2 mt-3 flex justify-between">
          <p class="text-cust-green font-semibold">City</p>
          <p>Date</p>
      </div>
      
     
      <div class="border-b py-2 mt-3 flex justify-between">
        <p class="text-cust-green font-semibold text-4xl">22</p>
        <p>Image</p>
    </div>
  

    <div class="border-b py-2 mt-3 flex justify-between">
        <p class="text-cust-green font-semibold">Max Temperature</p>
        <p>Date</p>
    </div>

    <div class="border-b py-2 mt-3 flex justify-between">
        <p class="text-cust-green font-semibold">Min Temperature</p>
        <p>Date</p>
    </div>

    <div class="border-b py-2 mt-3 flex justify-between">
        <p class="text-cust-green font-semibold">Humidity</p>
        <p>Date</p>
    </div>


  
      <p class="mt-4"></p>
     
    
       
    </div>
  
  
   
  
  </div>
  
  
  
  