
<div  *ngIf="isLoading" class="flex justify-center">
	<div class="loader absolute mt-20"></div>
  </div>
	<form [formGroup]="editFarmingSolutionForm" (ngSubmit)="onSubmit()">
		<p class="text-xl mb-4">Edit Farming Advice</p>
		<div>
		<input
		type="text"
		class="form-control block w-full px-4 py-1 text-xl font-normal text-gray-700 bg-white bg-clip-padding border-2 border-solid border-gray-300 rounded transition ease-in-out m-0 focus:bg-white focus:border-cust-green focus:outline-none"
		placeholder="Title"
		formControlName="title"
		/>
		</div>
	
		<div class="my-6">
			
			<textarea
				class="
					form-control
					block
					w-full
					px-3
					py-1.5
					text-base
					font-normal
					text-gray-700
					m-0
					bg-white bg-clip-padding border-2 border-solid border-gray-300 rounded transition ease-in-out m-0 focus:bg-white focus:border-cust-green focus:outline-none
				"
				id="exampleFormControlTextarea1"
				rows="3"
				placeholder="Add your farming knowledge"
				formControlName="description"
			></textarea>
		</div>

		<button
            type="submit"
            class="mt-2 px-7 py-2 bg-cust-green text-white font-medium text-sm leading-snug uppercase rounded shadow-md  hover:shadow-lg focus:bg-cust-green-200 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-cust-green-200 active:shadow-lg transition duration-150 ease-in-out"
            [disabled]="!editFarmingSolutionForm.valid"
            [ngClass]="!editFarmingSolutionForm.valid ? 'bg-opacity-green' : 'bg-cust-green-200' "
          >
            Update
          </button>
	</form>


