<div class="mt-4">
    <p class="text-3xl">Dashboard</p>
    <div class="flex justify-between gap-4 mt-4 h-20">
        <div class="w-full bg-gray-100 rounded p-2">
            <div class="">
                Users
            </div>
            <p class="mt-4 text-2xl">{{numUser}}</p>
            <p *ngIf="userIsLoading" class="spinner -mt-12 mx-auto"></p>
        </div>
        <div class="w-full bg-gray-100 rounded p-2">
            <p class="">
               Information Board
            </p>
            <p class="mt-4 text-2xl">{{numInformationBoard}}</p>
            <p *ngIf="numInformationIsLoading"class="spinner -mt-12 mx-auto"></p>
        </div>
        <div class="w-full bg-gray-100 rounded p-2">
            <p class="">
                Chats
            </p>
            <p class="mt-4 text-2xl">{{numOfChats}}</p>
            <p *ngIf="chatIsLoading" class="spinner -mt-12 mx-auto"></p>
        </div>
    </div>
    <app-report></app-report>
  
       
</div>