<section class="min-h-screen  flex align-center justify-center items-center items-center">
  <div class="container px-6 py-6 mx-auto my-auto">
    <div class="flex justify-center items-center flex-wrap g-6 text-gray-800">
      <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-0 ">
        <img
          src="../../../assets/icons/farmer.svg"
        class="w-full"
          alt="Phone image"
        />
      </div>
      <div class="w-full md:w-8/12 lg:w-5/12 lg:ml-20">
        <form>
          <p class="text-2xl">Welcome to AgriSolutions</p>
          <p class="my-5 text-xl">Sign Up</p>
         

            <div class="flex justify-between items-center gap-4">
                <div class="mb-6">
                    <input
                      type="text"
                      class="form-control block w-full px-4 py-1 text-xl font-normal text-gray-700 bg-white bg-clip-padding border-2 border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-cust-green focus:bg-white focus:border-cust-green focus:outline-none"                      placeholder="Firstname"
                    />
                  </div>
                  <div class="mb-6">
                    <input
                      type="text"
                      class="form-control block w-full px-4 py-1 text-xl font-normal text-gray-700 bg-white bg-clip-padding border-2 border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-cust-green focus:bg-white focus:border-cust-green focus:outline-none"                      placeholder="Lastname"
                    />
                  </div>
             </div>
             <!-- Phone Numbers -->
             <div class="mb-6">
                <input
                  type="text"
                  class="form-control block w-full px-4 py-1 text-xl font-normal text-gray-700 bg-white bg-clip-padding border-2 border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-cust-green focus:bg-white focus:border-cust-green focus:outline-none"
                  placeholder="Phone number"
                />
              </div>
          
            

        
          <!-- Email input -->
          <div class="mb-6">
              <input
                type="text"
                class="form-control block w-full px-4 py-1 text-xl font-normal text-gray-700 bg-white bg-clip-padding border-2 border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-cust-green focus:bg-white focus:border-cust-green focus:outline-none"
                placeholder="Email address"
              />
            </div>

            <!--Select role-->
            <div class="flex justify-center">
                <div class="mb-6 w-full">
                  <select class="form-select appearance-none
                    block
                    w-full
                    px-3
                    py-1.5
                    text-base
                    font-normal
                    text-gray-700
                    bg-white bg-clip-padding bg-no-repeat
                    border-2 border-solid border-gray-300
                    rounded
                    transition
                    ease-in-out
                    m-0
                    focus:text-gray-700 focus:bg-white focus:border-cust-green focus:outline-none" aria-label="Default select example">
                      <option selected>Open to select role</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                  </select>
                </div>
            </div>
            
          <!-- Password input -->
          <div class="mb-6">
            <input
              type="password"
               class="form-control block w-full px-4 py-1 text-xl font-normal text-gray-700 bg-white bg-clip-padding border-2 border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-cust-green focus:bg-white focus:border-cust-green focus:outline-none"
              placeholder="Password"
            />
          </div>

         

          <!-- Submit button -->
          <button
            type="submit"
            (click)="navigate()"
            class=" px-7 py-2 bg-cust-green text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-cust-green-200 hover:shadow-lg focus:bg-cust-green-200 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-cust-green-200 active:shadow-lg transition duration-150 ease-in-out"
            
          >
            Sign Up
          </button>

              <p class="text-sm font-semibold mt-2 pt-1 mb-0">
                Already have an account?
                <a
                  routerLink="/signin"
                  class="text-cust-green hover:text-cust-green-200 focus:text-cust-green-200 transition duration-200 ease-in-out"
                  >Sign In</a
                ></p>         
        </form>
      </div>
    </div>
  </div>
</section>