<section class="min-h-screen  flex align-center justify-center items-center items-center">
    <div class="container px-6 py-6 mx-auto my-auto">
      <div class="flex justify-center items-center flex-wrap g-6 text-gray-800">
        <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-0 ">
          <img
            src="../../../assets/icons/farmer.svg"
          class="w-full"
            alt="Phone image"
          />
        </div>
        <div class="w-full md:w-8/12 lg:w-5/12 lg:ml-20">
          <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <p class="text-2xl"><a class="text-cust-green" routerLink="/landing">AgriSolutions</a></p>
            <p class="my-5 text-xl">Recover your password</p>
            <div class="mb-2 text-red-500">
              {{errorMsg}} 
            </div>
            <div  *ngIf="isloader.isLoading | async" class="flex justify-center">
              <div class="loader absolute mt-20"></div>
            </div>
               
            <!-- Password input -->
            <div class="mt-6">
                <input
                  type="password"
                   class="form-control block w-full px-4 py-1 text-xl font-normal text-gray-700 bg-white bg-clip-padding border-2 border-solid border-gray-300 rounded transition ease-in-out m-0 focus:bg-white focus:border-cust-green focus:outline-none"
                  placeholder="Password"
                  formControlName="password"
                />
              </div>
              <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" 
                  class="mb-2 text-red-500">
                  <small *ngIf="password?.errors?.['required']">
                    *Password is required.
                  </small>
                  <small *ngIf="password?.errors?.['pattern']">
                    *Must have atleast a word, number and be 6 characters.
                  </small>
               </div>

            <!-- Confirm Password input -->
            <div class="mt-6">
                <input
                  type="password"
                  class="form-control block w-full px-4 py-1 text-xl font-normal text-gray-700 bg-white bg-clip-padding border-2 border-solid border-gray-300 rounded transition ease-in-out m-0 focus:bg-white focus:border-cust-green focus:outline-none"
                  placeholder="Confirm Password"
                  formControlName="confirmPassword"
                />
              </div>
              <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" 
                class="mb-2 text-red-500">
                <small *ngIf="confirmPassword?.errors?.['required']">
                  *Confirm Password is required.
                </small>
              </div>
              <small  class="mb-2 text-red-500" *ngIf="signInForm?.errors?.['passwordMatch']"> 
                *Passwords don't match.
              </small>
              
            <!-- Submit button -->
            <button
              type="submit"
              class="w-full px-7 mt-6 py-2 bg-cust-green text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:shadow-lg focus:bg-cust-green-200 focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out"
              [disabled]="!signInForm.valid"
              [ngClass]="!signInForm.valid ? 'bg-opacity-green' : 'bg-cust-green-200' "
            >
              Reset Password
            </button>
               
          </form>
        </div>
      </div>
    </div>
  </section>