<form
  class="w-full md:w-8/12 lg:w-5/12 px-4 pb-7 pt-2"
  [formGroup]="updateForm"
  (ngSubmit)="onSubmit()"
>
  <p class="my-5 text-xl">Update Profile</p>


  <div class="flex justify-between items-center gap-4">
    <div class="mt-6">
        <input
          type="text"
          class="form-control block w-full px-4 py-1 text-xl font-normal text-gray-700 bg-white bg-clip-padding border-2 border-solid border-gray-300 rounded transition ease-in-out m-0 focus:bg-white focus:border-cust-green focus:outline-none"
          placeholder="lastname"
          formControlName="firstname"
        />
        <div *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)" class="mb-2 text-red-500">
          <small *ngIf="firstname?.errors?.['required']"> *Name is required.</small>
          <small *ngIf="firstname?.errors?.['pattern']"> *Name  must be letters only.</small>
          <small *ngIf="firstname?.errors?.['minlength']"> *Name must have more than 3 letters.</small>
        </div>

      </div>
      <div  *ngIf="isLoading" class="flex justify-center">
        <div class="loader absolute mt-20"></div>
      </div>
     
      <div class="mt-6">                      
        <input
          type="text"
          class="form-control block w-full px-4 py-1 text-xl font-normal text-gray-700 bg-white bg-clip-padding border-2 border-solid border-gray-300 rounded transition ease-in-out m-0  focus:bg-white focus:border-cust-green focus:outline-none"
          placeholder="Lastname"
          formControlName="lastname"
        />
        
        <div *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)" class="mb-2 text-red-500">
          <small *ngIf="lastname?.errors?.['required']"> *Name is required.</small>
          <small *ngIf="lastname?.errors?.['pattern']"> *Name  must be letters only.</small>
          <small *ngIf="lastname?.errors?.['minlength']"> *Name must have more than 3 letters.</small>
        </div>
      </div>
 </div>

 <!-- Phone Numbers -->
 <div class="mt-6">
    <input
      type="text"
      class="form-control block w-full px-4 py-1 text-xl font-normal text-gray-700 bg-white bg-clip-padding border-2 border-solid border-gray-300 rounded transition ease-in-out m-0 focus:bg-white focus:border-cust-green focus:outline-none"
      placeholder="Phone number"
      formControlName="phoneNumber"
    />
  </div>
  <div *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)" class="mb-2 text-red-500">
    <small *ngIf="phoneNumber?.errors?.['required']">*Phone number is required</small>
    <small *ngIf="phoneNumber?.errors?.['pattern']">*Phone number is incorrect</small>
  </div>




<!-- Email input --> 
<div class="mt-6">
  <input
    type="text"
    class="form-control block w-full px-4 py-1 text-xl font-normal text-gray-700 bg-white bg-clip-padding border-2 border-solid border-gray-300 rounded transition ease-in-out m-0  focus:bg-white focus:border-cust-green focus:outline-none"
    placeholder="Email address"
    formControlName="emailAddress"
  />
</div>

<!--Select role-->
<div class="flex justify-center">
    <div class="mt-6 w-full">
      <select formControlName="role" class="form-select appearance-none
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding bg-no-repeat
        border-2 border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-cust-green focus:outline-none" aria-label="Default select example">
        <option class="font-normal text-gray-700" value="null" disabled="true" >{{user.role}}</option>
        <option class="font-normal text-cust-green" value="null" disabled="true" >**New role**</option>

        <option *ngFor="let role of roles" [ngValue]="role">
          {{role.name}}
        </option>
      </select>
    </div>
</div>

<!-- Submit button -->
<button
type="submit"
class="mt-6 px-7 py-2 bg-cust-green text-white font-medium text-sm leading-snug uppercase rounded shadow-md  hover:shadow-lg focus:bg-cust-green-200 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-cust-green-200 active:shadow-lg transition duration-150 ease-in-out"
[disabled]="!updateForm.valid"
[ngClass]="!updateForm.valid ? 'bg-opacity-green' : 'bg-cust-green-200' "
>
Update Profile
</button>

</form>
